### IntelliJ IDEA ###
out/
!out/.gitkeep
!**/src/main/**/out/
!**/src/test/**/out/

### File-based project format
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java files ###
*.class
# IntelliJ files
.idea/
out/
*.iml